/*********** HEADER ***********/

$header-font-color: #808d9e;
$header-font-color-navigation: #ffffff;
$header-font-color-navigation-hover: #001b3c;
$header-font-color-navigation-dropdown: #777777;

$header-top-background: #001b3c;
$header-top-height: 30%;

$header-main-background: url('../../../../images/main-header-bg.png');
$header-main-height: 70%;

$header-height-responsive: 60px;

/********* END HEADER *********/

/************ BODY ************/

$banner-background: #000000;
$banner-title-line-background: #dc3333;
$banner-title-line-height: 5px;
$banner-title-line-width: 110px;
$banner-title-sub-font-color: #FFFFFF;
$banner-title-sub-font-size: 2rem;
$banner-title-main-font-color: #ffffff;
$banner-title-main-font-size: 3.5rem;

$content-title-header-font-color: #003371;
$content-title-header-font-size: 2.5rem;
$content-title-header-font-size-responsive: 1.5rem;
$content-title-line-color: #003371;
$content-title-line-height: 5px;
$content-title-line-width: 80px;
$content-title-line-height-responsive: 2px;
$content-title-line-width-responsive: 50px;
$content-title-star-color: #dc3333;
$content-main-paragraph-color: #606060;
$content-main-paragraph-capture-font-size: 2rem;
$content-main-paragraph-capture-font-weight: 700;


/********** END BODY **********/