body {
  background-color: #FFFFFF;
}

.container {
	height: 100%;
	.row {
		height: 100%;
	}
}

.overlay {
	display: none;
	background: #000000;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 60px; 
	bottom: 0px;
	min-height: 100vh;
	opacity: 0.35;
}

.social {
	.nav {
		.nav-link {
			padding-right: 0;
			padding-left: 1rem;
		}
	}
}

#header {
	height: 120px;
	.top-header {
		height: 30%;
		background-color: $header-top-background;
		.nav {
			.nav-link {
				&, span, i {
					color: $header-font-color;
					font-size: .8rem;
				}
			}
		}
		.contact-infor {
			.nav {
				.nav-link {
					border-left: 1px solid $header-font-color;
					&:first-child {
						border-left: none;
					} 
				}
			}
		}
	}
	.main-header {
		height: $header-main-height;
		background: $header-main-background;
		background-size: cover;
		.logo {
			display: flex;
			height: 100%;
			align-items: center;
			span {
				font-size: 24px;
				font-weight: bold;
				position: relative;
				color: #fff;	
			}
			.logo-header {
				width: 27%;
			}
		}
		.navigation {
			position: relative;
			height: 100%;
			.nav-list {
				height: 100%;
			}
			.nav-toggle {
				display: none;
			}
			.nav-list {
				height: 100%;
			}
			.nav {
				height: 100%;
				.nav-item {
					padding-right: 0;
					cursor: pointer;
					padding-top: 0;
					position: relative;
					&, span, i {
						text-transform: uppercase;
						font-weight: 600;
						margin-left: auto;
						color: $header-font-color-navigation;
						font-size: 0.8rem;
						display: flex;
						align-items: center;
					}
					.dropdown-menu {
						padding: 0;
						margin: 0;
						a, span {
							text-transform: capitalize;
							color: $header-font-color-navigation-dropdown;
						}
					}
					&:hover {
						&, span, i {
							color: $header-font-color-navigation-hover;
						}
						.dropdown-menu {
							display: block;
						}
					}
					i {
						display: block;
						text-align: center;
						margin-left: 5px;
					}
				}
			}
		}
	}
	.responsive {
		display: none;
	}
}

#main-body {
	.banner {
		background: $banner-background;
		.container {
			position: relative;
		}
		.banner-image {
			img {
				width: 100%;
			} 
		}
		.banner-title {
			position: absolute;
			top: 75%;
			.title-line {
				height: $banner-title-line-height;
				width: $banner-title-line-width;
				background: $banner-title-line-background;
			}
			.title {
				display: inline-block;
				position: relative;
				left: ($banner-title-line-width + 10);
				text-transform: uppercase;
				&.title-sub {
					bottom: 35px;
					font-size: $banner-title-sub-font-size;
					color: $banner-title-sub-font-color;
				}
				&.title-main {
					position: absolute;
					top: 20px;
					font-size: $banner-title-main-font-size;
					color: $banner-title-main-font-color;
					font-weight: bolder;
				}
			}
		}
	}
	.content {
		padding: 50px 0;
		&.bg-gray-content {
			background: #f4f6f9;
		}
		&.bg-flag-left {
			background-image: url('/images/bg-flag-blue.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left top;
		}
		&.bg-flag-right {
			background-image: url('/images/bg-flag-red.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right bottom;
		}
		.content-title {
			text-align: center;
			padding-bottom: 20px;
			.head-title {
				font-size: $content-title-header-font-size;
				font-weight: bold;
				color:	$content-title-header-font-color;
				text-transform: capitalize;
			}
			.line-title {
				.line {
					height: $content-title-line-height;
					width: $content-title-line-width;
					display: inline-block;
					background-color: $content-title-line-color;
					position: relative;
				}
				.star {
					display: inline-block;
					position: relative;
					top: 3px;
					padding: 0 5px;
					color: $content-title-star-color;
				}
			}
		}
		.content-main {
			padding: 2rem 0;
			img {
				width: 100%;
				&.wrap-60p-right {
					width: 60%;
    			float: right;
				}
			}
			.paragraph {
				text-align: justify;
				color: $content-main-paragraph-color;
				padding-bottom: 10px;
				&.capture:first-letter{
					text-transform: capitalize;
					font-size: $content-main-paragraph-capture-font-size;
					font-weight: $content-main-paragraph-capture-font-weight;
				}
				.text-bold {
					font-weight: bold;
					font-size: 15px;
				}
				.sub-paragraph {
					ul {
						padding: 30px 0 0 0;
						margin: 0;
						li {
							list-style-type: none;
							font-size: 13px;
							padding: 5px 0;
							.sub {
								position: relative;
								.sub-text {
									position: relative;
									left: 2rem;
									bottom: 20px;
									width: 90%;
								}
								i {
									color: #ee0e27;
									padding-right: 10px;
								}
							}
						}
					}
				}
			}
			.more {
				a {
					top: 10px;
					color: #ee0e27;
					position: relative;
					font-weight: 600;
					font-size: 12px;
					text-transform: capitalize;
					i {
						margin-left: 5px;
					}
				}
			}
		}
	}
	.ic-protected  {
		background-image: url('/images/ic-protected.png');
		background-repeat: no-repeat;
    background-size: cover;
	}
	.grid-view {
		.row {
			.col-sm-4 {
				padding: 20px;
				.thumbnail {
					min-height: 205px !important;
					margin: 10px 15px;
					background-color: #EBEBF5;
					display: flex;
					flex-direction: column;
					padding-top: 40px !important;
					justify-content: flex-start;
					align-items: center;
					position: relative;
					.thumbnail-logo {
						width: 70px;
						height: 70px;
						background: #fff;
						border: 3px solid #f4f6f9;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						position: absolute;
						top: 0;
						left: 50%;
						transform: translate(-50%, -50%);
						align-items: center;
						img {
							width: 45%;
    					object-fit: contain;
						}
					}
					.thumbnail-head {
						color: #033275;
						font-size: 14px;
						font-weight: bold;
						margin: 10px 0;	
						text-transform: uppercase;			
					}
					.thumbnail-subcribe {
						padding: 10px 25px;
						text-align: center;
						font-size: 13px;
						color: #606060;
					}
				}
			}
		}
	}
}

#footer {
	background: #011a30;
	a, span, i {
		color: #fff;
	}
	.overview {
		padding: 20px 0;
		.logo {
			padding-bottom: 20px;
			img {
				width: 70px;
			}
			span {
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				position: relative;
				top: 15px;
			}
		}
		.brief {
			text-align: justify;
    	font-size: 14px;
		}
		.copyright {
			padding: 20px 0 10px 0;
    	color: #7a8a9d;
		}
	}
	.linked {
		padding: 50px 0;
		.name {
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 20px; 
			padding-bottom: 30px;
		}
		.linked-list {
			&.flex-column {
				.linked-item {
					flex-direction: column;
					width: 100%;
					margin-left: 15px;
				}
			}
			.linked-item {
				display: block;
				padding: 5px 0;
				margin: 0;
				text-decoration: none;
				i {
					margin-right: 10px;
				}
			}
		}
	}
}