{% import "macros/common.njk" as common %}

{% extends "partials/layout.njk" %}

{% block customStyles %}
  <link rel="stylesheet" href="css/main.bundle.css" type="text/css" />
	<link rel="stylesheet" href="vendors/slideshow/style.css" type="text/css" />
{% endblock %}

{% block content %}
<main id="main-body">

	<!-- Section Banner Slides -->
  <section class="banner">
    <div class="container">
			<div class="banner-image">
        <img src="images/banner.png"/>
      </div>
			<div class="banner-title">
				<div class="title-line"></div>
				<div class="title title-sub">Chào mừng bạn đến với</div>
				<div class="title title-main">Visa USA</div>
			</div>
    </div>
  </section>

	<!-- Section Content - About Us -->
	<section class="content about-us">
		<div class="container">
			<div class="content-title">
				<div class="head-title">
					<span>Visa USA</span>
				</div>
				<div class="line-title">
					<div class="line"></div>
					<div class="star"><i class="fas fa-star"></i></div>
					<div class="line"></div>
				</div>
			</div>
			<div class="content-main">
				<div class="row">
					<div class="col-sm-6">
						<img src="/images/about-us.png" alt="About us"/>
					</div>
					<div class="col">
						<div class="paragraph capture">
							Hoa Kỳ là một trong những nước có nền văn hóa đa dạng; kinh tế, giáo dục phát triển; một đất nước rộng lớn và vững mạnh về nhiều mặt. Điều đó đã làm cho xứ sở cờ hoa thu hút trái tim của bao nhiêu người với mơ ước một lần được đặt chân đến. Khách du lịch muốn trải nghiệm một đất nước văn minh với những phong cảnh tuyệt vời và những công trình kiến trúc lớn, hiện đại, và đặc biệt là những di sản văn hóa nổi tiếng.  Học sinh, sinh viên muốn được trải nghiệm một nền giáo dục hàng đầu thế giới. Và rất nhiều người muốn sinh sống và định cư lâu dài trên xứ sở cờ hoa với điều kiện kinh tế phát triển, khí hậu tuyệt vời, cùng môi trường sống lành mạnh. Tuy nhiên, việc đặt chân lên mảnh đất thiên đường này không hề đơn giản đối với nhiều người thì ước mơ đến Mỹ vẫn mãi chỉ là mơ ước.
						</div>
						<div class="more">
							<a href="#">Xem thêm<i class="fas fa-chevron-circle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content bg-gray-content">
		<div class="container">
			<div class="content-main">
				<div class="row">
					<div class="col-sm-6">
						<div class="paragraph capture">
							Thấu hiểu mong muốn xin được Visa Mỹ và đồng cảm với những lo lắng của khách hàng. Với kinh nghiệm chuyên môn cao, kỹ năng làm việc với việc làm hiện đại và luôn cập nhật luật Di trú một cách nhanh nhất, chúng tôi sẽ:
							<div class="sub-paragraph">
								<ul>
									<li>
										<div class="sub">
											<i class="fas fa-check"></i>
											<div class="sub-text">
												Tư vấn chính xác giúp bạn nộp hồ sơ đầy đủ nhất để dễ dàng để có visa
											</div>
										</div>
									</li>
									<li>
										<div class="sub">
											<i class="fas fa-check"></i>
											<div class="sub-text">
												Hỗ trợ nhiệt tình trong quá trình xin visa của bạn
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="paragraph">
							Hỗ trợ chính:</br>
							<span class="text-bold">THUY NGUYEN: Cựu Supervisor- Chuyên Visa của Lãnh sự Quán Hoa Kỳ.</span></br>
							(Số 4 Lê Duẩn, Quận 1, TP Hồ Chí Minh)
							<div class="sub-paragraph">
								<ul>
									<li>
										<div class="sub">
											<i class="fas fa-check"></i>
											<div class="sub-text">
												Sau 18 năm làm việc tại Lãnh sự Quán Hoa Kỳ tại Thành phố Hồ Chí Minh với cấp bậc quản lý trong Lãnh sự Hoa Kỳ về Visa, tôi được Lãnh sự đặc cách Visa định cư tại Hoa Kỳ.
											</div>
										</div>
									</li>
									<li>
										<div class="sub">
											<i class="fas fa-check"></i>
											<div class="sub-text">
												Được Bộ Ngoại Giao Hoa Kỳ đào tạo chuyên môn về: luật Di trú và Nhập Tịch, Cách quản lý về quy trình Visa; Làm việc trực tiếp với Trung tâm Chiếu Kháng Quốc gia (National Visa Center); Sở Di trú Hoa Kỳ (USCIS).
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col">
						<img class="wrap-60p-right" src="/images/certificate-1.png" alt="Certificate of me"/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content bg-flag-left">
		<div class="container">
			<div class="content-title">
				<div class="head-title">
					<span>Chứng chỉ</span>
				</div>
				<div class="line-title">
					<div class="line"></div>
					<div class="star"><i class="fas fa-star"></i></div>
					<div class="line"></div>
				</div>
			</div>
			<div class="content-main">
				{{common.slideshow_book()}}
			</div>
		</div>
	</section>
	<section class="content bg-flag-right">
		<div class="container">
			<div class="content-title">
				<div class="head-title">
					<span>Dịch vụ hỗ trợ</span>
				</div>
				<div class="line-title">
					<div class="line"></div>
					<div class="star"><i class="fas fa-star"></i></div>
					<div class="line"></div>
				</div>
			</div>
			<div class="content-main">
				<div class="grid-view">
					<div class="row">
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-protected.png" />
								</div>
								<div class="thumbnail-head">Bảo lãnh</div>
								<div class="thumbnail-subcribe">
									Chúng tôi cung cấp dịch vụ hỗ trợ về pháp lý và thủ tục cho bảo lãnh vợ chồng, hôn phu thê, cha mẹ, con cái...
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-book.png" />
								</div>
								<div class="thumbnail-head">Visa Du học</div>
								<div class="thumbnail-subcribe">
									Tất cả các dịch vụ về xin visa của Hoa Kỳ; du học, du lịch, làm việc, biểu diễn và các nhu cầu khác...
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-card.png" />
								</div>
								<div class="thumbnail-head">Thẻ xanh</div>
								<div class="thumbnail-subcribe">
									Làm thế nào để xin thường trú khi một thành viên gia đình bảo lãnh cho bạn ? hay cho chính bạn? hãy để chúng tôi giúp
								</div>
							</div>
						</div>  
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-plane.png" />
								</div>
								<div class="thumbnail-head">Visa Du lịch</div>
								<div class="thumbnail-subcribe">
									Visa du lịch Mỹ là visa không định cư cho những người muốn nhập cảnh vào Mỹ tạm thời vì mục đích kinh doanh(B1), du lịch hoặc khám chữa bệnh(B2) hoặc kết hợp cho cả 2 mục đích trên(B1/B2).
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-freedom.png" />
								</div>
								<div class="thumbnail-head">Công dân Hoa Kỳ</div>
								<div class="thumbnail-subcribe">
									Chúng tôi hỗ trợ các thủ tục pháp lý liên quan khi bạn không thể trực tiếp làm tại Mỹ hay Việt Nam.
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="thumbnail">
								<div class="thumbnail-logo">
									<img src="/images/ic-paper.png" />
								</div>
								<div class="thumbnail-head">Hỗ trợ khác</div>
								<div class="thumbnail-subcribe">
									Nếu có bất cứ nhu cầu hỗ trợ về di trú, visa, thủ tục pháp lý... hãy để chúng tôi được giúp đỡ bạn.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="overlay"></div>
</main>
{% endblock %}
