.flip-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.flip-panel {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 1200px;
  }

  .flip-panel .content {
      padding: 0 !important;
  }

//   for mobile
@media only screen and (max-width: 600px) {
    .flip-panel {
        width: 130px;
        height: 130px;
    }
}


//   for destop

@media only screen and (min-width: 1200px) {
    
}

  .panel {
    transition: z-index 1s ease-in-out 1s;
  }
  
  .panel,
  .panel .front,
  .panel .back {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
  
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    transform-style: preserve-3d;
    transition: transform 1s, box-shadow 1s;
  }
  
  .panel .front {
    background: transparent;
    z-index: 2;
  
    -moz-transform: rotateY(0deg);
    -moz-transform-origin: left;
    transform: rotateY(0deg);
    transform-origin: left;
    backface-visibility: hidden;
  }
  
  .panel .back {
    background: transparent;
    left: -100%;
    z-index: 1;
    
    -moz-transform: rotateY(180deg);
      -moz-transform-origin: right;
      transform: rotateY(180deg);
      transform-origin: right;
    
    backface-visibility: hidden;
  }
  
  .panel .front:hover {
      -moz-transform: rotateY(-25deg);
      -moz-transform-origin: left;
      transform: rotateY(-25deg);
      transform-origin: left;
      z-index: 3;
      box-shadow: 4px 4px 12px rgb(100,100,100);
  }

  .panel.open {
    z-index: 1;
  }
  
  .panel.open .front {
    z-index: 1;
    -moz-transform: rotateY(-180deg);
    -moz-transform-origin: left;
    transform: rotateY(-180deg);
    transform-origin: left;
  }
  
  .panel.open .back {
    z-index: 2;
    -moz-transform: rotateY(0deg);
    -moz-transform-origin: right;
    transform: rotateY(0deg);
    transform-origin: right;  
  }
  