<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">	
				<div class="overview">
					<div class="logo">
						<img src="/images/logo.png" alt="Logo Visa USA"/>
						<span>Visa USA</span>
					</div>
					<div class="brief">
						<span>Với 18 năm kinh nghiệm làm việc tại Lãnh sự quán Hoa Kỳ tại Hồ Chí Minh với cấp bậc cao trong tòa Lãnh sự về visa, tôi có nhiều kinh nghiệm để hồ sơ của Quý vị được chấp thuận và thành công.</span>
					</div>
					<div class="copyright">
						© Copyright 2018. All Rights Reserved.
					</div>
				</div>	
			</div>
			<div class="col-sm-4">		
				<div class="linked">
					<div class="name">Liên kết</div>
					<div class="linked-list">
						<div class="row">
							<div class="col-sm-6">
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Trang chủ</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Định cư</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Du học</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Du lịch</a>
							</div>
							<div class="col-sm-6">
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Công dân Hoa Kỳ</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Thẻ xanh</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Mẫu đơn</a>
								<a class="linked-item" href="#"><i class="fas fa-check"></i> Liên hệ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">	
				<div class="linked">
					<div class="name">Liên hệ</div>
					<div class="linked-list flex-column">
						<div class="row">
							<a class="linked-item" href="#"><i class="fas fa-map-marker-alt"></i> 1234 Street Name, City Name, United States</a>
							<a class="linked-item" href="#"><i class="fas fa-phone"></i> 0938 666 046</a>
							<a class="linked-item" href="#"><i class="far fa-envelope-open"></i> thuynguyensac@gmail.comc</a>
						</div>
						<div class="row">
							<div class="social">
								<nav class="nav">
									<a class="nav-link" href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a class="nav-link" href="#">
										<i class="fab fa-twitter"></i>
									</a>
									<a class="nav-link" href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</nav>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</footer>