<header id="header">
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-9">
					<div class="contact-infor">
						<nav class="nav">
							<a class="nav-link" href="#">
								<i class="fas fa-phone"></i>
								<span>VN: 0938 666 046</span> | 
								<span>US: 916-280-5227</span>
							</a>
							<a class="nav-link" href="#">
								<i class="fas fa-phone-volume"></i>  Viber: 0902928211
							</a>
							<a class="nav-link" href="#">
								<i class="far fa-envelope-open"></i> thuynguyensac@gmail.com
							</a>
						</nav>
					</div>
				</div>
				<div class="col">
					<div class="social">
						<nav class="nav justify-content-end">
							<a class="nav-link" href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="nav-link" href="#">
								<i class="fab fa-youtube"></i>
							</a>
							<a class="nav-link" href="#">
								<i class="fab fa-telegram-plane"></i>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div class="logo">
						<img src="/images/logo.png" class="logo-header" alt="Visa USA"/>
						<span>Visa USA</span>
					</div>
				</div>
				<div class="col">
					<div class="navigation">
						<div class="nav-toggle">
							<i class="fas fa-bars"></i>
						</div>
						<div class="nav-list">
							<ul class="nav">
								<li class="nav-item" href="#"><span class="nav-item-text">Trang chủ</span></li>
								<li class="nav-item" href="#">
									<span class="nav-item-text">Định cư
									<i class="fas fa-chevron-down"></i></span>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Hôn Phu / Thê</a>
										<a class="dropdown-item" href="#">Quốc tịch bảo lãnh vợ/chồng</a>
										<a class="dropdown-item" href="#">Bảo Lãnh Bố Mẹ</a>
										<a class="dropdown-item" href="#">Bảo Lãnh Anh Chị Em</a>
										<a class="dropdown-item" href="#">Thẻ xanh bảo lãnh vợ/con</a>
										<a class="dropdown-item" href="#">Quốc Tịch Bảo Lãnh Con</a>
									</div>
								</li>
								<li class="nav-item" href="#">
									<span class="nav-item-text">Du học
									<i class="fas fa-chevron-down"></i></span>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Chuyển Trường</a>
										<a class="dropdown-item" href="#">Chương Trình Nhà Ở</a>
										<a class="dropdown-item" href="#">Đổi Tình Trạng Từ Visa Du Học</a>
										<a class="dropdown-item" href="#">Hệ Thống Trường Học Ở Hoa Kỳ</a>
										<a class="dropdown-item" href="#">Đổi Visa Khác Sang Visa Du Học Tại Hoa Kỳ</a>
									</div>
								</li>
								<li class="nav-item" href="#">
									<span class="nav-item-text">Du lịch
									<i class="fas fa-chevron-down"></i></span>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Chuyển đổi tình trạng từ visa du lịch</a>
										<a class="dropdown-item" href="#">Gia hạn thời gian du lịch ở Hoa Kỳ</a>
									</div>
								</li>
								<li class="nav-item" href="#">
									<span class="nav-item-text">Công dân Hoa Kỳ
									<i class="fas fa-chevron-down"></i></span>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Nhập tịch cho con</a>
										<a class="dropdown-item" href="#">Quốc tịch cho con</a>
										<a class="dropdown-item" href="#">Công hàm độc thân</a>
									</div>
								</li>
								<li class="nav-item" href="#"><span class="nav-item-text">Thẻ xanh</span></li>
								<li class="nav-item" href="#"><span class="nav-item-text">Mẫu đơn</span></li>
								<li class="nav-item" href="#">
									<span class="nav-item-text">Liên hệ
									<i class="fas fa-chevron-down"></i></span>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Những câu hỏi thường gặp</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>