<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}
        {% block customStyles %}{% endblock %}
    </head>
    <body class="">
        {% include "partials/header.njk" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.njk" %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/main.bundle.js"></script>
        <script type="text/javascript" src="vendors/slideshow/modernizr.custom.53451.js"></script>
        <script type="text/javascript" src="vendors/slideshow/jquery.gallery.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>