// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  #header {
    height: $header-height-responsive;
    .top-header {
      height: 30px;
    }
    .main-header {
      height: 30px;
    }
  }
}

@media (max-width: 991px) { 
  #header {
    // height: $header-height-responsive;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    .top-header {
      // height: 30px;
      .container > .row {
        .col-9 {
          display: none;
        }
        .col {
          padding: 0;
          padding-right: 20px;
        }
      }
      .social {
        .nav {
          justify-content: center !important;
        }
      }
    }
    .main-header {
      // display: none;
      // height: 30px;
      background-position: 13% 0;
      .col-3 {
        height: 100%;
        .logo {
          max-height: 100%;
          // img {
          //   width: 40%;
          // }
          span {
            white-space: nowrap;
            font-size: 50%;
          }
        }
      }
      .navigation {
        .nav-list {
          display: none;
          z-index: 1000;
          background: #292929;
          position: absolute;
          top: 100%;
          right: -15px;
          width: 370px;
          &.show {
            display: inline-table;
          }
          .nav {
            flex-direction: column;
            .nav-item {
              padding: .75rem 0 .75rem 2rem;
              margin-left: unset;
              display: block;
              i {
                display: inline;
                position: absolute;
                top: 15px;
                right: 10px;
                margin: 0;
              }
              .nav-item-text {
                display: block;
                margin-left: unset;
              }
              .dropdown-menu {
                display: none;
                position: relative;
                background: transparent;
                border: none;
                a {
                  padding-left: 0;
                }
              }
              &, span, i {
                color: $header-font-color-navigation;
              }
            }
          }
        }
        .nav-toggle {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 2px;
          color: $header-font-color-navigation;
        }
      }
    }
    
  }
  #main-body {
    // display: none;
    margin-top: $header-height-responsive;
    .banner {
      .banner-title {
        top: 75%;
        .title-line {
          height: 2px;
          width: 50px;
        }
        .title {
          &.title-sub {
            font-size: 50%;
            left: 55px;
            bottom: 20px;
          }
          &.title-main {
            font-size: 100%;
            left: 55px;
            width: 100%;
            top: 5px;
          }
        }
      }
    }
    .content {
      padding: 20px 0;
      .content-title {
        .head-title {
          font-size: $content-title-header-font-size-responsive;
        }
        .line-title {
          .line {
            height: $content-title-line-height-responsive;
            width: $content-title-line-width-responsive;
          }
        }
      }
      .content-main {
        img {
          &.wrap-60p-right {
            margin-right: 20%;
            margin-top: 30px;
          }
        }
        .dg-container {
          .dg-wrapper {
            a > img {
              width: 80% !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #header {
    height: 90px;
    .top-header {
      height: 40%;
    }
    .main-header {
      background-position: 18%;
      height: 60%;
      .col-3 {
        height: 100%;
        .logo {
          max-height: 100%;
          span {
            white-space: nowrap;
            font-size: 100%;
          }
        }
      } 
      .navigation {
        .nav-toggle {
          font-size: 24px;
          top: 7px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  #header {
    .main-header {
      background-position: 22%;
      .navigation {
        .nav {
          .nav-item {
            &, span, i {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  #header {
    .main-header {
      background-position: 20%;
    }
  }
}

@media (min-width: 1400px) {
  #header {
    .main-header {
      background-position: -11.25rem;
    }
  }
}