{%
set images = [
	{
		id: "slide_1",
		name: "Anh 1",
		link: "/images/slide-1.jpg",
		href: "#"
	},
	{
		id: "slide_2",
		name: "Anh 2",
		link: "/images/slide-2.jpg",
		href: "#"
	},
	{
		id: "slide_3",
		name: "Anh 3",
		link: "/images/slide-3.jpg",
		href: "#"
	}
]
%}

{% macro slideshow_book() %}
  <div id="dg-container" class="dg-container">
		<div class="dg-wrapper">
			<a href="#"><img src="/images/Flipbook/so_1.jpg" alt="image01"></a>
			<a href="#"><img src="/images/Flipbook/so_2.jpg" alt="image02"></a>
			<a href="#"><img src="/images/Flipbook/so_3.jpg" alt="image03"></a>
		</div>
	</div>
{% endmacro %}