@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    src: url('../font/open-sans/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('../font/open-sans/OpenSans-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../font/open-sans/OpenSans-Light.ttf') format('truetype')
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 20;
}
    
    #menu {
        display: flex;
        align-items: center;
        height: 80px;
    }

        .menu-left {
            flex: 1 20%;
            background-color: #002c73;
            position: relative;
        }

        /* .menu-left::after {
            content: "";
            position: absolute;
            top: 5px;
            right: -29px;
            height: 57px;
            width: 57px;
            background: inherit;
            transform: translateY(6px) rotate(45deg) skew(0deg);
            transition: all .3s ease;
        } */

        .menu-left::after {
            content: "";
            position: absolute;
            right: -68px;
            bottom: 0;
            width: 0;
            height: 0px;
            border-left: 70px solid #002c73;
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
        }

        .support-css::before {
            content: "";
            position: absolute;
            width: 70px;
            right: -46px;
            top: 0;
            height: 40px;
            transform: skew(48deg);
            background: #002c73;
            opacity: 0.4;
        }

        .support-css::after {
            content: "";
            position: absolute;
            width: 70px;
            right: -46px;
            top: 40px;
            height: 40px;
            transform: skew(-48deg);
            background: #002c73;
            opacity: 0.4;
        }

        /* .menu-left::after {
            content: '';
            position: absolute;
            border-left: solid 60px #002c73;
            border-bottom: solid 38px transparent;
            border-top: solid 44px transparent;
            top: -2px;
            left: 407px;
            width: 80px;
        } */

            .menu-left img {
                height: 80px;
            }

        .menu-right {
            flex: 1 80%;
            background-color: #d33;
            color: #fff;
            height: 100%;
            padding-left: 30px;
        }

            .menu-right__list {
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: flex-end;
            }

                .menu-right__list__item {
                    font-size: 13px;
                    font-family: 'Open Sans';
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 0 0 38px;
                    cursor: pointer;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    position: relative;
                }

                    .dropdown-icon {
                        position: absolute;
                        right: 20%;
                        bottom: 14px;
                    }

                .menu-right__list__item:hover {
                    color: #1e73be;
                }

#banner {
    height: 600px;
    background: #000;
    z-index: 0;
    padding: 0 50px 0 150px;    
    width: 100%;
}

    .banner-wrapper {
        background-repeat: no-repeat;
        background-image: url(../img/Eagle.png);
        background-size: cover;
        background-position: center center;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }   

.banner-container {
    background: #000;
    z-index: 0;
}
        .banner-content {
            display: flex;
            height: 500px;
            justify-content: flex-end;
            flex-direction: column;
        }

        .banner-wrapper__text {
            font-size: 28px;
            line-height: 20px;
            font-weight: 400;
            color: #fff;
            position: relative;
            margin-left: 100px;
            text-transform: uppercase;
        }

        .banner-wrapper__text::before {
            content: '';
            position: absolute;
            width: 84px;
            left: -96px;
            top: 16px;
            height: 4px;
            background-color: #dd3333;
        }

        .banner-wrapper__text--main {
            font-size: 70px;
            font-weight: bold;
            color: #fff;
            margin-left: 100px;
            margin-bottom: 64px;
        }

#about-us-first {
    height: 600px;
    width: 100%;
    z-index: 0;
    padding: 60px 0;
}

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .title__content {
            color: #094982;
            font-size: 30px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            position: relative;
        }

        .title__underline {
            position: relative;
        }

        .title__underline::before {
            content: '';
            position: absolute;
            border-radius: 4px;
            height: 4px;
            width: 54px;
            left: 684px;
            bottom: 32px;
            background-color: #094982;
        }

        .title__underline::after {
            content: '';
            position: absolute;
            border-radius: 4px;
            height: 4px;
            width: 54px;
            right: 684px;
            bottom: 32px;
            background-color: #094982;
        }

        .title__underline {
            display: flex;
            justify-content: center;
        }

        .star-five {
            position: relative;
            display: block;
            color: red;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid red;
            border-left: 100px solid transparent;
            transform: rotate(35deg);
            -webkit-transform: rotate(35deg) scale(0.1);
            -ms-transform: rotate(35deg) scale(0.1);
            -o-transform: rotate(35deg) scale(0.1);
        }
        .star-five:before {
            border-bottom: 80px solid red;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            position: absolute;
            height: 0;
            width: 0;
            top: -45px;
            left: -65px;
            display: block;
            content: '';
            transform: rotate(-35deg);
        }
        .star-five:after {
            position: absolute;
            display: block;
            color: red;
            top: 3px;
            left: -105px;
            width: 0px;
            height: 0px;
            border-right: 100px solid transparent;
            border-bottom: 70px solid red;
            border-left: 100px solid transparent;
            transform: rotate(-70deg);
            content: '';
        }

        .about-us-first__content {
            display: flex;
            height: 100%;
            max-height: calc(500px - 115px);
            /* background-image: url(../img/ameri2.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left; */
        }

            .about-us-first__content__img {
                flex: 1 50%;
                max-width: 50%;
                /* background-image: url(../img/ameri1.png);
                background-size: contain;
                background-repeat: no-repeat; */
                position: relative;
            }

                .about-us-first__content__img__1 {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    z-index: 1;
                }

                .about-us-first__content__img__2 {
                    /* background-image: url(../img/ameri2.png);
                    background-size: contain;
                    background-repeat: no-repeat; */
                    position: absolute;
                    top: 42px;
                    right: 149px;
                    width: 100%;
                    z-index: -1;
                }

            .about-us-first__content__text {
                flex: 1 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 26px;
                padding: 35px 0;
            }

            .about-wrapper-content {
                display: block;
                text-transform: lowercase;
                font-size: 13px
            }

            .about-wrapper-content :first-letter {
                text-transform: uppercase;
                font-size: 27px;
            }
        

#about-us-second {
    height: 600px;
    background-color: #EBEBF5;
    display: flex;
    width: 100%;
    z-index: 0;
    padding: 60px 0;
}

    .about-us-second__wrapper {
        display: flex;
    }

    #about-us-second .second-text {
        flex: 1 50%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 40px;
        font-size: 13px;
    }

    #about-us-second .second-img {
        flex: 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #about-us-second .second-img img {
            object-fit: contain;
            height: 100%;
        }

#certificate {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/BG-left.png');
    background-size: auto;
    overflow: hidden;
}

    .certificate__img {
        height: 100%;
    }

        .certificate__img .w300 {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .certificate__img img {
        }

#support {
    height: 800px;
    margin-top: -100px;
    width: 100%;
    background-position: right; 
    background-repeat: no-repeat;
    background-image: url('../img/BG-right.png');
    background-size: auto;
}

    .support__content {

    }

    .support__img {
       
        height: 100%;
    }

    .support--list {
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 13px;
    }

    .support--item {
        min-height: 205px !important; 
        margin: 10px 15px;
        background-color: #EBEBF5;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 40px !important;
        justify-content: flex-start;
        align-items: center;
        /* padding: 40px 40px 20px 40px !important; */
    }

        .support--item__content {
            padding: 10px 20px 20px 20px;
            text-align: center;
        }

    .circle-icon {
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }

        .circle-icon .img-fit {
            height: 60%;
            width: 60%;
        }

#footer {
    width: 100%;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position: initial;
    background-image: none;
    color: #fff;
    background-color: #011A30;
    font-size: 14px;
}
    #footer .container {
        position: relative;
    }

    #footer .footer-main > .container {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    #footer .container::before {
        content: " ";
        display: table;
    }

    #footer .container::after {
        content: " ";
        display: table;
    }

    .footer__img {
        width: 80px;
        height: 80px;
    }

        .footer__img img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

    .footer-left {
        color: #bac8d3;
    }

    .footer-bottom {
        margin-bottom: 50px;
    }

.contact-info__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list.list-icons {
    list-style: none;
}

#footer a {
    color: #fff;
    outline: none;
}

@media (min-width: 1170px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

/* carousel */

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card-carousel .my-card {
    height: 20rem;
    width: 12rem;
    position: relative;
    margin-right: 20px;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: 1s;
  }
  
  .card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: 1rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
    /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); */
  }
  
  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }

  /* Utils */

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.pl100 {
    padding-left: 100px;
}

.pl10 {
    padding-left: 10px !important;
}

.specical-text {
    
}

.mt20 {
    margin-top: 20px
}

.p-none {
    padding: 0 !important;
}

.w300 {
    width: 300px;
}

.border-none {
    border: none !important;
}

.mr5 {
    margin-right: 5px;
}

.font-size-27 {
    font-size: 27px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.pr15 {
    padding-right: 15px;
}

.ml3 {
    margin-left: 3px;
}

.br1 {
    border-right: 1px solid #fff;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.flex-display {
    display: flex;
}

.font-weight-700 {
    font-weight: 700;
}

.carousel-inner {

}

.carousel-item {
 
}

.carousel-item.active {
}

.carousel-inner img {
    
}

.margin-none {
    margin: 0 !important;
}

.nowrap {
    white-space: nowrap;
}

.title-text {
    color: #094982;
    font-size: 14px;
    font-weight: bold;
}

.img-fit {
    object-fit: contain;
    height: 100%;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.read-more {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

    .read-more a {
        text-decoration: none;
        color: #dd3333;
        font-weight: bold;
        margin-right: 5px;
    }

    .read-more svg {
        fill: #dd3333;
    }

    .navbar-nav li:hover .dropdown-menu {
        display: block;
    }
    
    /* rotate caret on hover */
    .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    } 

    .navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropdown {
        float: left;
      }
      
      .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover, .dropdown:hover .dropbtn {
          color: #1e73be;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        top: 100%;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        white-space: nowrap;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        transition: all .3s ease-in;
      }
    
.center-flex-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-14 {
    margin-left: -14px;
}

.h80 {
    height: 80px;
}

.white {
    fill: #fff; 
}

.algin-items-center {
    align-items: center;
}

.font-size-26 {
    font-size: 26px;
}

.center-inline-all {
    display: inline-block;
    vertical-align: middle;
}

#wrapper-header {
    height: 120px;
}

    .top-header {
        height: 33.33%;
        background-color: #001942;
        color: #fff;
    }

        .top-header__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

            .top-header__wrapper__contact {
                height: 100%;
                display: flex;
                font-size: 12px;
            }

                .top-header__wrapper__contact__item {
                    height: 100%;
                    border-right: 1px solid #fff;
                    padding: 0 25px;
                    display: flex;
                    align-items: center;
                }

        .top-header__wrapper__linked {

        }

            .top-header__wrapper__linked__item {
                cursor: pointer;
                margin-left: 10px;
            }

    .main-header {
        background-color: #002c73;
        background: linear-gradient(to right, #002c73 30% , #d33 30%);
        height: 66.67%;
    }

